:root {
    --nav-item-f-size: 1.8rem;
    --footer-f-size: 1.3rem;
    --button-f-size: 1.8rem;
    --button-padding: 15px 35px;
    --result-author-f-size: 1.4rem;
    --result-title-f-size: 1.5rem;
    --result-info-f-size: 1.7rem;
    --start-book-label: 1rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0c092a;
    color: #afafaf;
    font-family: 'Roboto Slab', sans-serif;
}

.nav {
    display: flex;
    justify-content: center;
    padding: 15px;
}
.nav__list {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 100%;
    gap: 10px;
}

.nav__item__link {
    text-decoration: none;
    color: #e0e0e0;
    font-size: var(--nav-item-f-size);
    transition: all .2s ease-in;
}

.wrapper {
    margin: 15px auto;
    width: clamp(100px, 75vw, 1280px);
}
.main {
    display: flex;
    justify-content: center;
}

.start-window {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: clamp(100px, 82.5vh, 1500px);
}
.start-window__div-options {
    display: flex;
    gap: 10px;
}
.start-window__button-play, .start-window__div-options__button-rand-text, .start-window__div-options__button-wiki-text, .start-window__div-options__button-rand-comp {
    font-size: var(--button-f-size);
    padding: var(--button-padding);
    border: 2px solid #afafaf;
    border-radius: 30px;
    font-family: 'Roboto Slab', sans-serif;
}
.start-window__div-loading__span {
    font-size: 1.8rem;
}

.start-window__div-comp-query {
    display: flex;
    justify-content: center;
    position: relative;
    width: 22.4rem;
    height: 3rem;
}
.start-window__div-comp-query__input {
    position: absolute;
    top: -0.5rem;
    left: 0.25rem;
    width: 100%;
    height: 100%;
    border: 2px solid #afafaf;
    border-radius: 0.5rem;
    font-family: inherit;
    font-size: inherit;
    color: #afafaf;
    outline: none;
    padding: 1.25rem;
    background: none;
}
.start-window__div-comp-query__input:hover {
    border-color: #adffff;
}
.start-window__div-comp-query__input:focus {
    border-color: #18ffff;
}
.start-window__div-comp-query__label {
    position: absolute;
    color: rgb(189, 189, 189);
    left: 1rem;
    top: 0.25rem;
    padding: 0 0.5rem;
    cursor: text;
    font-size: var(--start-book-label);
    transition: top 200ms ease-in, 
        left 200ms ease-in,
        font-size 200ms ease-in;
    background-color: #0c092a;
}
.start-window__div-comp-query__input:focus ~ .start-window__div-comp-query__label, .start-window__div-comp-query__input:not(:placeholder-shown).start-window__div-comp-query__input:not(:focus) ~ .start-window__div-comp-query__label {
    top: -1rem;
    font-size: 0.9rem;
    left: 0.8rem;
}
.start-window__div-comp-query__button {
    position: relative;
    top: 3rem;
    font-size: 1.2rem;
    font-family: 'Roboto Slab', sans-serif;
    border: 1px solid #afafaf;
    border-radius: 30px;
    padding: 0.5rem 1rem;
}
.error-message {
    position: absolute;
    top: -2.5rem;
    color: red;
    font-size: 1.2rem;
    width: max-content;
}

.game-window {
    border: 1px solid #afafaf;
    border-radius: 15px;
    padding: 10% 10%;
}
.game-window__div-interactive__p {
    font-size: 1.3rem;
    margin-bottom: 20px;
}
.game-window__div-interactive__input {
    font-size: 1.3rem;
    background-color: #afafaf;
    width: 100%;
    padding: 10px;
}
.game-window__div-position {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 50px 0;
}
.game-window__div-position__img {
    position: relative;
    top: -15px;
    left: 15px;
    transition: left 0.7s ease;
}
.game-window__div-position__line {
    width: 75%;
    height: 3px;
    background-color: #afafaf;
}

.result-window {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    height: 80vh;
    color: #afafaf;
}
.result-window__info {
    font-size: var(--result-info-f-size);
}
.result-window__book-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.result-window__book-info__author {
    font-size: var(--result-author-f-size);
}
.result-window__book-info__title {
    font-size: var(--result-title-f-size);
    margin: 10px 0;
}

.footer {
    display: flex;
    justify-content: center;
    font-size: var(--footer-f-size);
    padding: 15px 0;
}
.footer__span {
    text-align: center;
    padding: 0 25px;
}
.nav__item__link:hover {
    color: #fff;
    font-weight: 700;
}



.border-divide-bottom {
    border-bottom: 2px solid #fff;
}
.border-divide-top {
    border-top: 2px solid #fff;
}
.hidden {
    display: none;
}
button:hover {
    cursor: pointer;
}

.cssload-loader {
	width: 24px;
	height: 24px;
	position: absolute;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
		-o-transform: translate3d(-50%, -50%, 0);
		-ms-transform: translate3d(-50%, -50%, 0);
		-webkit-transform: translate3d(-50%, -50%, 0);
		-moz-transform: translate3d(-50%, -50%, 0);
	perspective: 1200;
		-o-perspective: 1200;
		-ms-perspective: 1200;
		-webkit-perspective: 1200;
		-moz-perspective: 1200;
}

.cssload-flipper {
	position: relative;
	display: block;
	height: inherit;
	width: inherit;
	animation: cssload-flip 1.38s infinite ease-in-out;
		-o-animation: cssload-flip 1.38s infinite ease-in-out;
		-ms-animation: cssload-flip 1.38s infinite ease-in-out;
		-webkit-animation: cssload-flip 1.38s infinite ease-in-out;
		-moz-animation: cssload-flip 1.38s infinite ease-in-out;
	transform-style: preserve-3d;
		-o-transform-style: preserve-3d;
		-ms-transform-style: preserve-3d;
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
}

.cssload-front,
.cssload-back {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	background-color: #3a2e5b;
	height: 100%;
	width: 100%;
	backface-visibility: hidden;
}

.cssload-back {
	background-color: #fff;
	z-index: 800;
	transform: rotateY(-180deg);
		-o-transform: rotateY(-180deg);
		-ms-transform: rotateY(-180deg);
		-webkit-transform: rotateY(-180deg);
		-moz-transform: rotateY(-180deg);
}



@keyframes cssload-flip {
	0% {
		transform: perspective(117px) rotateX(0deg) rotateY(0deg);
	}
	50% {
		transform: perspective(117px) rotateX(-180.1deg) rotateY(0deg);
	}
	100% {
		transform: perspective(117px) rotateX(-180deg) rotateY(-179.9deg);
	}
}

@-o-keyframes cssload-flip {
	0% {
		-o-transform: perspective(117px) rotateX(0deg) rotateY(0deg);
	}
	50% {
		-o-transform: perspective(117px) rotateX(-180.1deg) rotateY(0deg);
	}
	100% {
		-o-transform: perspective(117px) rotateX(-180deg) rotateY(-179.9deg);
	}
}

@-ms-keyframes cssload-flip {
	0% {
		-ms-transform: perspective(117px) rotateX(0deg) rotateY(0deg);
	}
	50% {
		-ms-transform: perspective(117px) rotateX(-180.1deg) rotateY(0deg);
	}
	100% {
		-ms-transform: perspective(117px) rotateX(-180deg) rotateY(-179.9deg);
	}
}

@-webkit-keyframes cssload-flip {
	0% {
		-webkit-transform: perspective(117px) rotateX(0deg) rotateY(0deg);
	}
	50% {
		-webkit-transform: perspective(117px) rotateX(-180.1deg) rotateY(0deg);
	}
	100% {
		-webkit-transform: perspective(117px) rotateX(-180deg) rotateY(-179.9deg);
	}
}

@-moz-keyframes cssload-flip {
	0% {
		-moz-transform: perspective(117px) rotateX(0deg) rotateY(0deg);
	}
	50% {
		-moz-transform: perspective(117px) rotateX(-180.1deg) rotateY(0deg);
	}
	100% {
		-moz-transform: perspective(117px) rotateX(-180deg) rotateY(-179.9deg);
	}
}

@media (max-width: 768px) {
    :root {
        --result-author-f-size: 1.1rem;
        --result-title-f-size: 1.2rem;
        --result-info-f-size: 1.4rem;
        --button-f-size: 1.4rem;
        --button-padding: 15px 20px;
    }
    .error-message {
        font-size: 1rem;
    }
}
@media (max-width: 600px) {
    :root {
        --nav-item-f-size: 1.2rem;
        --footer-f-size: 1rem;
    }
    .result-window {
        flex-direction: column-reverse;
    }
    .result-window__info {
        display: flex;
        text-align: center;
    }
    .start-window__div-options {
        flex-direction: column;
    }
}
@media (max-width: 450px) {
    :root {
        --button-f-size: 1.3rem;
        --start-book-label: 0.8rem;
    }
    .wrapper {
        width: clamp(100px, 95vw, 1280px);
    }
    .game-window {
        padding: 10px;
    }
    .error-message {
        font-size: 0.7rem;
    }
    .start-window__div-comp-query__label {
        top: 0.5rem;
    }
    .start-window__div-comp-query__input:focus ~ .start-window__div-comp-query__label, .start-window__div-comp-query__input:not(:placeholder-shown).start-window__div-comp-query__input:not(:focus) ~ .start-window__div-comp-query__label {
        top: -1rem;
        font-size: 0.6rem;
        left: 0.8rem;
    }
    .nav__item:last-of-type {
        display: none;
    }
}
@media (max-width: 375px) {
    :root {
        --result-author-f-size: 1rem;
        --result-title-f-size: 1.1rem;
        --result-info-f-size: 1.2rem;
        --start-book-label: 0.65rem;
    }
}
@media (max-height: 800px) {
    .result-window {
        height: 100%;
    }
    .result-window__book-info img {
        transform: scale(0.7);
    }
}