* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: slategray;
    font-family: 'Roboto Slab', sans-serif;
}

.nav {
    display: flex;
    justify-content: center;
    padding: 15px;
}
.nav__list {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 100%;
    gap: 10px;
}
.nav__item__link {
    text-decoration: none;
    color: #cccccc;
    font-size: 1.8rem;
}

.wrapper {
    margin: 15px auto;
    width: clamp(100px, 75vw, 1280px);
}
.main {
    display: flex;
    justify-content: center;
    height: 100%;
}

.start-window {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: clamp(100px, 75vh, 1000px);
}
.start-window__button-play {
    font-size: 1.8rem;
    padding: 15px 35px;
    border: 2px solid #fff;
    border-radius: 30px;
    font-family: 'Roboto Slab', sans-serif;
}



.game-window {
    border: 1px solid #fff;
    border-radius: 15px;
    padding: 10% 10%;
}
.game-window__div-interactive__p {
    font-size: 1.3rem;
    margin-bottom: 20px;
}
.game-window__div-interactive__input {
    font-size: 1.3rem;
    width: 100%;
    padding: 10px;
}

.footer {
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    padding: 15px 0;
}



.border-divide-bottom {
    border-bottom: 2px solid #fff;
}
.border-divide-top {
    border-top: 2px solid #fff;
}
.hidden {
    display: none;
}
button:hover {
    cursor: pointer;
}